.customers-reviews {
    position: relative;
    padding: 147px 0;
}

.my-slick-slider {
    position: static;
}

.customers-reviews-title {
    overflow: hidden;

    & h3 {
        width: max-content;
        font-size: 3rem;
        font-weight: 200;
        letter-spacing: 0.18rem;
        text-transform: uppercase;

        color: var(--color-text);

        &::after {
            content: '////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
            font-size: 19px;
            color: var(--gray-color-500);
            letter-spacing: 0.18rem;
            margin-left: 16px;
        }
    }
}

.review-box-wrapper {
    margin-right: 20px;
}

.review-box {
    padding: 48px;
    border: 1px solid var(--gray-color-300);
    border-radius: 8px;

    & blockquote {
        margin: 0 0 16px;
        font-family: var(--body-font);
        font-size: 2.1rem;
        font-weight: 200;
    }
}

.review-stars {

        padding: 8px 0 4px;


    & span + span {
        margin-left: 6px;
    }

    & svg {
        width: 16px;
    height: 16px;
        color: var(--primary-orange);
    }
}

.review-author {
    display: block;
    font-size: 2.1rem;
    font-weight: 400;
    margin: 4px 0 8px;
}